<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .row{
            display: flex;
        }
        .col-sm-5{
            width: 300px;
        }
        .text-center{
            /* margin: 0px auto; */

        }
        .col-sm-2{
            width: 100px;
        }
    </style>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <input 
                                type="checkbox" 
                                name="" 
                                id=""  
                                @change="leftChange"
                                v-model='leftAll'/>
                            <span>全选</span>
                            <span class="pull-right">
                                {{leftSelect.length}}/{{leftData.length}}
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li v-for="item in leftData" :key="item.id">
                                    <div class="checkbox">
                                        <label for="">{{item.name}}
                                            <input 
                                                type="checkbox" 
                                                name="" id=""
                                                @change="changeCheckLeft" 
                                                v-model="item.checked"/>
                                        </label>
                                    </div>
                                </li>
       
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 text-center">
                    <div>
                        <button 
                            class="btn btn-primary"
                            :disabled="leftSelect.length == 0"
                            @click="toRight"> >> </button>
                    </div>
                    <div>
                        <button 
                            class="btn btn-primary"
                            :disabled="rightSelect.length == 0"
                            @click="toLeft"> << </button>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <input 
                                type="checkbox" 
                                name="" 
                                id="" 
                                v-model="rightAll" 
                                @change="rightChange" />
                            <span>------全选-----</span>
                            <span class="pull-right">
                                {{rightSelect.length}}/{{rightData.length}}
                            </span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li v-for="item in rightData" :key="item.id">
                                    <div class="checkbox">
                                        <label for="">{{item.name}}
                                            <input 
                                                type="checkbox" 
                                                name="" 
                                                id=""
                                                @change="changeCheckRight"
                                                v-model="item.checked"
                                                />
                                        </label>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./index.js"></script>
</body>
</html>